In [1]:
# Import Dependencies
import pandas as pd

In [2]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [6]:
# Merge the two DataFrames together based on the Dates they share
merged_df = pd.merge(bitcoin_df, dash_df, on="Date")
merged_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [7]:
# Rename columns so that they are differentiated
merged_df = merged_df.rename(
    columns={"Open_x": "Bitcoin Open", "High_x":"Bitcoin Hight","Low_x":"Bitcoin Low","Close_x":"Bitcoin Close","Volume_x":"Bitcoin Volume","Market Cap_x":"Bitcoin Market Cap","Open_y": "Dash Open", "High_y":"Dash Hight","Low_y":"Dash Low","Close_y":"Dash Close","Volume_y":"Dash Volume","Market Cap_y":"Dash Market Cap"})
merged_df.head()

,Date,Bitcoin Open,Bitcoin Hight,Bitcoin Low,Bitcoin Close,Bitcoin Volume,Bitcoin Market Cap,Dash Open,Dash Hight,Dash Low,Dash Close,Dash Volume,Dash Market Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [ ]:
# alternatively you can set your suffixes when the merge occurs

In [8]:
# Collecting best open for Bitcoin and Dash
bestbitcoin= merged_df["Bitcoin Open"].max()
bestdash= merged_df["Dash Open"].max()
# Collecting best close for Bitcoin and Dash
closebitcoin= merged_df["Bitcoin Close"].max()
closedash= merged_df["Dash Close"].max()
# Collecting the total volume for Bitcoin and Dash
totalbitcoin= merged_df["Bitcoin Volume"].sum()
totaldash= merged_df["Dash Volume"].sum()

In [21]:
# Creating a summary DataFrame using above values
crypto_table = pd.DataFrame({"Best Bitcoin Open": [bestbitcoin],
                              "Best Dash Open": [bestdash],
                              "Best Bitcoin Close": [closebitcoin],
                              "Best Dash Close": [closedash],
                               "Total Bitcoin Volume": [totalbitcoin],
                              "Total Dash Volume" : [totaldash],
                              })
crypto_table = crypto_table[["Best Bitcoin Open","Best Dash Open","Best Bitcoin Close","Best Dash Close","Total Bitcoin Volume","Total Dash Volume"]]
crypto_table["Total Bitcoin Volume"] = crypto_table["Total Bitcoin Volume"].map('${:,.2f}MM'.format)
crypto_table["Total Dash Volume"] = crypto_table["Total Dash Volume"].map('${:,.2f}MM'.format)
crypto_table

,Best Bitcoin Open,Best Dash Open,Best Bitcoin Close,Best Dash Close,Total Bitcoin Volume,Total Dash Volume
0,772.42,400.42,754.56,399.85,"$24,383,049,150.00MM","$2,960,278,500.00MM"